
.vs/donkyKongGame/FileContentIndex/8952f8ff-2aca-4bef-b6f8-aff777f21c63.vsidx
.vs/donkyKongGame/v17/ipch/AutoPCH/158d15ce1141a265/MARIO.ipch
.vs/donkyKongGame/v17/ipch/AutoPCH/2b391b0c49aea6ed/BOARD.ipch
.vs/donkyKongGame/v17/ipch/AutoPCH/2b391b0c49aea6ed/BOARD.ipch
.vs/donkyKongGame/v17/ipch/AutoPCH/d9006f5abe46e60f/POINT.ipch
.vs/donkyKongGame/v17/ipch/AutoPCH/158d15ce1141a265/MARIO.ipch
.vs/donkyKongGame/v17/Browse.VC.db
.vs/donkyKongGame/v17/.suo
.vs/donkyKongGame/v17/Browse.VC.opendb
.vs/donkyKongGame/v17/Browse.VC.db-wal
.vs/donkyKongGame/v17/Browse.VC.db-shm
.vs/donkyKongGame/FileContentIndex/8952f8ff-2aca-4bef-b6f8-aff777f21c63.vsidx
.vs/donkyKongGame/FileContentIndex/523266f4-ac38-4c6e-b136-80f6d760d54c.vsidx
*.vsidx
.vs/donkyKongGame/v17/.suo
*.db
*.ipch
*.ipch
.vs/donkyKongGame/v17/ipch/AutoPCH/2b391b0c49aea6ed/BOARD.ipch
.vs/donkyKongGame/v17/ipch/AutoPCH/158d15ce1141a265/MARIO.ipch
.vs/donkyKongGame/v17/ipch/AutoPCH/d9006f5abe46e60f/POINT.ipch
.vs/donkyKongGame/FileContentIndex/8952f8ff-2aca-4bef-b6f8-aff777f21c63.vsidx
.vs/donkyKongGame/v17/.suo
.vs/donkyKongGame/v17/Browse.VC.db
.vs/donkyKongGame/v17/ipch/AutoPCH/2b391b0c49aea6ed/BOARD.ipch
.vs/donkyKongGame/v17/ipch/AutoPCH/158d15ce1141a265/MARIO.ipch
.vs/donkyKongGame/v17/ipch/AutoPCH/d9006f5abe46e60f/POINT.ipch
x64/Debug/donkyKongGame.pdb
x64/Debug/donkyKongGame.tlog/CL.read.1.tlog
x64/Debug/donkyKongGame.tlog/CL.command.1.tlog
x64/Debug/donkyKongGame.log
x64/Debug/donkyKongGame.exe
x64/Debug/donkyKongGame.ilk
x64/Debug/vc143.pdb
x64/Debug/vc143.idb
x64/Debug/main.obj
x64/Debug/mario.obj
x64/Debug/mario.obj.enc
x64/Debug/point.obj
x64/Debug/mario.new.obj.enc
x64/Debug/donkyKongGame.tlog/CL.write.1.tlog
.vs/donkyKongGame/FileContentIndex/8952f8ff-2aca-4bef-b6f8-aff777f21c63.vsidx
.vs/donkyKongGame/v17/.suo
.vs/donkyKongGame/v17/Browse.VC.db
.vs/donkyKongGame/v17/ipch/AutoPCH/2b391b0c49aea6ed/BOARD.ipch
.vs/donkyKongGame/v17/ipch/AutoPCH/158d15ce1141a265/MARIO.ipch
.vs/donkyKongGame/v17/ipch/AutoPCH/d9006f5abe46e60f/POINT.ipch
x64/Debug/donkyKongGame.pdb
x64/Debug/donkyKongGame.tlog/CL.read.1.tlog
x64/Debug/donkyKongGame.tlog/CL.command.1.tlog
x64/Debug/donkyKongGame.log
x64/Debug/donkyKongGame.exe
x64/Debug/donkyKongGame.ilk
x64/Debug/vc143.pdb
x64/Debug/vc143.idb
x64/Debug/main.obj
x64/Debug/mario.obj
x64/Debug/mario.obj.enc
x64/Debug/point.obj
x64/Debug/donkyKongGame.tlog/CL.write.1.tlog
*.vsidx
